//
//
@keyframes StepToRight_ms {
  0%{
    opacity: 0;
    margin-left: 5rem;
    margin-top: -4rem;

    -webkit-box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    -moz-box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    -o-box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);


    z-index: 1000;
  }
  60%{
    margin-left: 2.3rem;
    margin-top: 2.5rem;
  }
  100%{
    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
}


@keyframes StepToLeft_ms {
  0%{
    opacity: 0;
    margin-left: -5rem;
    margin-top: -4rem;

    -webkit-box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    -moz-box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    -o-box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);

    z-index: 1000;
  }
  60%{
    margin-left: -2.3rem;
    margin-top: 2.5rem;
  }
  100%{
    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
}

@keyframes PutToRight_ms {
  0%{
    opacity: 0;
    margin-left: 5rem;
    margin-top: -4rem;
    z-index: 1000;

    -webkit-transform: rotateX(21deg) rotateY(90deg) rotateZ(0deg);
    -moz-transform: rotateX(21deg) rotateY(90deg) rotateZ(0deg);
    -ms-transform: rotateX(21deg) rotateY(90deg) rotateZ(0deg);
    -o-transform: rotateX(21deg) rotateY(90deg) rotateZ(0deg);
    transform:  rotateX(21deg) rotateY(90deg) rotateZ(0deg);

    -webkit-box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    -moz-box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    -o-box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    box-shadow: 6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);

  }

  1%{
    opacity: 1;
  }

  100%{
    margin-top: 0px;
    margin-left: 0;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg);

    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
}

@keyframes PutToLeft_ms {
  0%{
    opacity: 0;
    margin-left: -5rem;
    margin-top: -4rem;
    z-index: 1000;

    -webkit-transform: rotateX(21deg) rotateY(-90deg) rotateZ(0deg);
    -moz-transform: rotateX(21deg) rotateY(-90deg) rotateZ(0deg);
    -ms-transform: rotateX(21deg) rotateY(-90deg) rotateZ(0deg);
    -o-transform: rotateX(21deg) rotateY(-90deg) rotateZ(0deg);
    transform:  rotateX(21deg) rotateY(-90deg) rotateZ(0deg);

    -webkit-box-shadow: -6rem 5rem 3rem 0.2rem  rgba(0,0,0,0.9);
    -moz-box-shadow: -6rem 5rem 3rem 0.2rem  rgba(0,0,0,0.9);
    box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
  }

  10%{
    opacity: 1;
  }

  100%{
    margin-top: 0rem;
    margin-left: 0rem;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg);

    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
}

@keyframes CoverToRight_ms {
  0%{
    opacity: 0;
    margin-left: -5rem;
    margin-top: -4rem;
    z-index: 1000000;
    -webkit-transform: rotateX(21deg) rotateY(-61deg) rotateZ(0deg);
    -moz-transform: rotateX(21deg) rotateY(-61deg) rotateZ(0deg);
    -ms-transform: rotateX(21deg) rotateY(-61deg) rotateZ(0deg);
    -o-transform: rotateX(21deg) rotateY(-61deg) rotateZ(0deg);
    transform:  rotateX(21deg) rotateY(-61deg) rotateZ(0deg);

    -webkit-box-shadow: -6rem 5rem 3rem 0.2rem  rgba(0,0,0,0.9);
    -moz-box-shadow: -6rem 5rem 3rem 0.2rem  rgba(0,0,0,0.9);
    -o-box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);

  }

  10%{
    opacity: 1;
    z-index: 1000;
  }

  100%{
    margin-top: 0rem;
    margin-left: 0rem;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg);

    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
}

@keyframes CoverToLeft_ms {
  0%{
    z-index: 1000000;
    opacity: 1;
    margin-left: 5rem;
    margin-top: -4rem;
    -webkit-transform: rotateX(21deg) rotateY(61deg) rotateZ(0deg);
    -moz-transform: rotateX(21deg) rotateY(61deg) rotateZ(0deg);
    -ms-transform: rotateX(21deg) rotateY(61deg) rotateZ(0deg);
    -o-transform: rotateX(21deg) rotateY(61deg) rotateZ(0deg);
    transform:  rotateX(21deg) rotateY(61deg) rotateZ(0deg);

    -webkit-box-shadow: -6rem 5rem 3rem 0.2rem  rgba(0,0,0,0.9);
    -moz-box-shadow: -6rem 5rem 3rem 0.2rem  rgba(0,0,0,0.9);
    -o-box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);
    box-shadow: -6rem 5rem 3rem 0.2rem rgba(0,0,0,0.9);

  }

  90%{
    opacity: 1;
    //z-index: 100;
  }

  100%{
    margin-top: 0rem;
    margin-left: 0rem;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg);

    margin-left: 0rem;
    margin-top: 0rem;
    opacity: 1;
  }
}


@keyframes btn_enable_ms {
  0%{
    width: 0.5rem;
    height: 0.5rem;
  }
  100%{
    width: 1rem;
    height: 1rem;
  }
}

@keyframes btn_disable_ms {
  0%{
    width: 1rem;
    height: 1rem;
  }
  100%{
    width: 0.5rem;
    height: 0.5rem;
  }
}

