
.slider_wrapper_ms {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_box_ms {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  //display: inline-block;
  box-sizing: border-box;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.slider_lines_ms {
  width: 5%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: 2000% 100%; ////  -webkit-background-size: 2000% 100%;
  background-size: 2000% 100%; ////   background-size: 2000% 100%;

  .first_twin_ms{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }


  .slider_lines_twin_ms {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    -webkit-background-size: 2000% 100%; ////  -webkit-background-size: 2000% 100%;
    background-size: 2000% 100%; /////   background-size: 2000% 100%;
    margin: 0;
    //-webkit-background-size: cover;
    //background-size: cover;
  }

  .first_twin_ms {
    //z-index: 1000 !important;
    margin-left: 5rem;
    margin-top: -4rem;
    opacity: 0;
    animation-direction: normal;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;

    //background: green;
  }

  .second_twin_ms {
    z-index: 10 !important;
    opacity: 0;
    box-sizing: border-box;

  }
}

.background_ms {
  position: absolute;
  width: 100%;
  height: 100%;
}

.desc_ms {
  position: absolute;
  width: 100%;
  height: 100%;
  //background: rgba(0,0,0, 0.5);
  transition: 1s;
  opacity: 0;
  //z-index: 10000000000;
  //display: none;
  margin-left: 0px;
}


.pagination_ms {
  width: 500px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;

  .pug_ms {
    width: 10%;
    background: grey;
    cursor: pointer;
  }
}


.pagination_block_ms {
  position: absolute;
  width: 100%;
  height: 5rem;

}

.pagination_block_btn_ms {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination_block_cover_ms {
  position: absolute;
  width: 100%;
  height: 100%;
  //background: red;
  z-index: 1000000;
}

.pagination_btn_ms {
  position: relative;
  width: 1rem;
  height: 1rem;
  z-index: 100;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid grey;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  transition: .3s;
  opacity: 0.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  &::before {
    content: '';
    width: 180%;
    height: 0.5rem;
    background: grey;
    margin-left: -300%;
    transition: 0.5s;
    border-radius: 50%;
    opacity: 0;
  }

}


.btn_disable_ms {
  width: 1rem;
  height: 1rem;
  border: 1px solid grey;
  opacity: 0.5;
}

.btn_enable_ms {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  border: 1px solid black;
}

.btn_active_ms {
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  transition: .5s;

  &::before {
    content: '';
    width: 50%;
    margin-left: 0px;
    opacity: 1;
    margin-top: 20%;
    width: 60%;
    height: 60%;
    background: black;
  }


}

.btn_disactive_ms {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  transition: .5s;
}


//////////// made by Makarov Denys ///////////////


