.box, .box_1, .box_2, .box_3 {
  width: 700px;
  height: 550px;
  margin-left: 100px;
  margin-top: 200px;
  position: relative;
}

//.box_1{
//  width: 2000px;
//  height: 1000px;
//}

.slider_wrapper_ms {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_box_ms {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.slider_lines_ms {
  width: 5%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  -webkit-background-size: 2000% 100%;
  background-size: 2000% 100%;

  //.first_twin_ms{
  //  position: relative;
  //  box-sizing: border-box;
  //  overflow: hidden;
  //}


  .slider_lines_twin_ms {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    -webkit-background-size: 2000% 100%;
    background-size: 2000% 100%;
    margin: 0;
  }
  .first_twin_ms {
    //z-index: 1000 !important;
    margin-left: 5rem;
    margin-top: -4rem;
    opacity: 0;
    animation-direction: normal;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    //background: green;
  }

  .second_twin_ms {
    z-index: 10!important;
    opacity: 0;
  }
}

.background_ms {
  position: absolute;
  width: 100%;
  height: 100%;
}

.desc_ms{
  position: absolute;
  width: 100%;
  height: 100%;
  //background: rgba(0,0,0, 0.5);
  transition: 1s;
  opacity: 0;
  //z-index: 10000000000;
  //display: none;
  margin-left: 0px;
}




.pagination_ms{
  width: 500px;
  height: 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;

  .pug_ms{
    width: 10%;
    background: grey;
    cursor: pointer;
  }
}



.pagination_block_ms{
  position: absolute;
  width: 100%;
  height: 5rem;

}

.pagination_block_btn_ms{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;

}

.pagination_block_cover_ms{
  position: absolute;
  width: 100%;
  height: 100%;
  //background: red;
  z-index: 1000000;
}

.pagination_btn_ms{
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid grey;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

}

